body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-size: 10px;
  background-image: url("./assets/images/background.gif");
  background-repeat: repeat;
  background-size: cover;
}

footer {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  margin: 0;
  padding: 0;
  font-family: "Pacifico";
  font-size: 1em;
  color: black;
}

header {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  font-family: "Rubik Gemstones";
  font-size: 5em;
  color: #990505;
}

main {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.deck-card {
  width: 15%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  border: 1em solid white;
  border-radius: 3em;
}
.deck-card img {
  width: 90%;
  height: 90%;
  position: absolute;
}

.deck-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}
.deck-overlay h1 {
  font-family: "Double Feature 20";
  font-size: 6em;
  color: black;
  z-index: 3;
}

.button-area {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.button-area button {
  width: 4%;
  height: 100%;
  border: 0.5em solid black;
  border-radius: 5em;
  background-image: url("./assets/images/swords.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.85);
}

.game-over-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/images/final_screen.gif");
  background-size: cover;
  background-repeat: repeat;
  margin: 0;
  padding: 0;
}
.game-over-screen button {
  width: 20%;
  height: 10%;
  margin: 20px;
  border: 10px solid black;
  border-radius: 30px;
  background-color: #990505;
  font-family: "Rubik Gemstones";
  font-size: 30px;
  color: black;
}
.game-over-screen div {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
}
.game-over-screen h1 {
  font-family: "Double Feature 20";
  font-size: 200px;
  color: #990505;
}

.game-over-transition-animation {
  z-index: 2;
  animation-name: game-over-animate-transition;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.p1-card-animation {
  z-index: 2;
  animation-name: p1-animate-card;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  backface-visibility: hidden;
}

.p1-front-card-animation {
  z-index: 1;
  animation-name: p1-animate-front-card;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.p2-card-animation {
  z-index: 2;
  animation-name: p2-animate-card;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  backface-visibility: hidden;
}

.p2-front-card-animation {
  z-index: 1;
  animation-name: p2-animate-front-card;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.playing-area {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.war-card-animation {
  animation-name: war-animate-card;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.war-card-animation-reverse {
  animation-name: war-animate-card-reverse;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

#p1-card {
  border-style: none;
}

#p1-war-array {
  width: 33%;
  height: 100%;
  display: flex;
  align-items: center;
  border: 0.5em solid white;
  border-radius: 2em;
  padding: 0.5em;
}
#p1-war-array img {
  width: 6%;
  height: 90%;
}

#p2-card {
  border-style: none;
}

#p2-war-array {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border: 0.5em solid white;
  border-radius: 2em;
  padding: 0.5em;
}
#p2-war-array img {
  width: 6%;
  height: 90%;
}

@font-face {
  font-family: "Rubik Gemstones";
  font-style: normal;
  font-weight: 400;
  src: local("Rubik Gemstones Regular"), local("RubikGemstones-Regular"), url("./assets/fonts/RubikGemstones-Regular.ttf");
}
@font-face {
  font-family: "Double Feature 20";
  font-style: normal;
  font-weight: 400;
  src: local("Double Feature 20"), local("DoubleFeature20"), url("./assets/fonts/DoubleFeature20.ttf");
}
@font-face {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  src: local("Pacifico Regular"), local("Pacifico-Regular"), url("./assets/fonts/Pacifico-Regular.ttf");
}
@keyframes game-over-animate-transition {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 0.95;
  }
  10% {
    opacity: 0.9;
  }
  15% {
    opacity: 0.85;
  }
  20% {
    opacity: 0.8;
  }
  25% {
    opacity: 0.75;
  }
  30% {
    opacity: 0.7;
  }
  35% {
    opacity: 0.65;
  }
  40% {
    opacity: 0.6;
  }
  45% {
    opacity: 0.55;
  }
  50% {
    opacity: 0.5;
  }
  55% {
    opacity: 0.45;
  }
  60% {
    opacity: 0.4;
  }
  65% {
    opacity: 0.35;
  }
  70% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.25;
  }
  80% {
    opacity: 0.2;
  }
  85% {
    opacity: 0.15;
  }
  90% {
    opacity: 0.1;
  }
  95% {
    opacity: 0.05;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes p1-animate-card {
  0% {
    left: 5%;
  }
  5% {
    left: 25%;
  }
  10% {
    left: 45%;
  }
  15% {
    left: 65%;
  }
  20% {
    left: 85%;
  }
  25% {
    left: 105%;
    transform: rotateY(90deg);
  }
  30% {
    left: 125%;
    transform: rotateY(112.5deg);
  }
  35% {
    left: 145%;
    transform: rotateY(135deg);
  }
  40% {
    left: 165%;
    transform: rotateY(157.5deg);
  }
  45% {
    left: 184.5%;
    transform: rotateY(180deg);
  }
  50% {
    left: 184.5%;
    transform: rotateY(180deg);
  }
  55% {
    left: 184.5%;
    transform: rotateY(180deg);
  }
  60% {
    left: 184.5%;
    transform: rotateY(180deg);
  }
  65% {
    left: 184.5%;
    transform: rotateY(180deg);
  }
  70% {
    left: 184.5%;
    transform: rotateY(180deg);
  }
  75% {
    left: 184.5%;
    transform: rotateY(180deg);
  }
  80% {
    left: 184.5%;
    transform: rotateY(180deg);
  }
  85% {
    left: 184.5%;
    transform: rotateY(180deg);
  }
  90% {
    left: 184.5%;
    transform: rotateY(180deg);
  }
  95% {
    left: 184.5%;
    transform: rotateY(180deg);
  }
  100% {
    left: 184.5%;
    transform: rotateY(180deg);
  }
}
@keyframes p1-animate-front-card {
  0% {
    left: 5%;
  }
  5% {
    left: 25%;
  }
  10% {
    left: 45%;
  }
  15% {
    left: 65%;
  }
  20% {
    left: 85%;
  }
  25% {
    left: 105%;
    transform: rotateY(90deg);
  }
  30% {
    left: 125%;
    transform: rotateY(67.5deg);
  }
  35% {
    left: 145%;
    transform: rotateY(45deg);
  }
  40% {
    left: 165%;
    transform: rotateY(22.5deg);
  }
  45% {
    left: 184.5%;
    transform: rotateY(0deg);
  }
  50% {
    left: 184.5%;
    opacity: 1;
  }
  55% {
    left: 184.5%;
    opacity: 0.9;
  }
  60% {
    left: 184.5%;
    opacity: 0.8;
  }
  65% {
    left: 184.5%;
    opacity: 0.7;
  }
  70% {
    left: 184.5%;
    opacity: 0.6;
  }
  75% {
    left: 184.5%;
    opacity: 0.5;
  }
  80% {
    left: 184.5%;
    opacity: 0.4;
  }
  85% {
    left: 184.5%;
    opacity: 0.3;
  }
  90% {
    left: 184.5%;
    opacity: 0.2;
  }
  95% {
    left: 184.5%;
    opacity: 0.1;
  }
  100% {
    left: 184.5%;
    opacity: 0;
  }
}
@keyframes p2-animate-card {
  0% {
    right: 5%;
  }
  5% {
    right: 25%;
  }
  10% {
    right: 45%;
  }
  15% {
    right: 65%;
  }
  20% {
    right: 85%;
  }
  25% {
    right: 105%;
    transform: rotateY(-90deg);
  }
  30% {
    right: 125%;
    transform: rotateY(-112.5deg);
  }
  35% {
    right: 145%;
    transform: rotateY(-135deg);
  }
  40% {
    right: 165%;
    transform: rotateY(-157.5deg);
  }
  45% {
    right: 184.5%;
    transform: rotateY(-180deg);
  }
  50% {
    right: 184.5%;
    transform: rotateY(-180deg);
  }
  55% {
    right: 184.5%;
    transform: rotateY(-180deg);
  }
  60% {
    right: 184.5%;
    transform: rotateY(-180deg);
  }
  65% {
    right: 184.5%;
    transform: rotateY(-180deg);
  }
  70% {
    right: 184.5%;
    transform: rotateY(-180deg);
  }
  75% {
    right: 184.5%;
    transform: rotateY(-180deg);
  }
  80% {
    right: 184.5%;
    transform: rotateY(-180deg);
  }
  85% {
    right: 184.5%;
    transform: rotateY(-180deg);
  }
  90% {
    right: 184.5%;
    transform: rotateY(-180deg);
  }
  95% {
    right: 184.5%;
    transform: rotateY(-180deg);
  }
  100% {
    right: 184.5%;
    transform: rotateY(-180deg);
  }
}
@keyframes p2-animate-front-card {
  0% {
    right: 5%;
  }
  5% {
    right: 25%;
  }
  10% {
    right: 45%;
  }
  15% {
    right: 65%;
  }
  20% {
    right: 85%;
  }
  25% {
    right: 105%;
    transform: rotateY(-90deg);
  }
  30% {
    right: 125%;
    transform: rotateY(-67.5deg);
  }
  35% {
    right: 145%;
    transform: rotateY(-45deg);
  }
  40% {
    right: 165%;
    transform: rotateY(-22.5deg);
  }
  45% {
    right: 184.5%;
    transform: rotateY(0deg);
  }
  50% {
    right: 184.5%;
    opacity: 1;
  }
  55% {
    right: 184.5%;
    opacity: 0.9;
  }
  60% {
    right: 184.5%;
    opacity: 0.8;
  }
  65% {
    right: 184.5%;
    opacity: 0.7;
  }
  70% {
    right: 184.5%;
    opacity: 0.6;
  }
  75% {
    right: 184.5%;
    opacity: 0.5;
  }
  80% {
    right: 184.5%;
    opacity: 0.4;
  }
  85% {
    right: 184.5%;
    opacity: 0.3;
  }
  90% {
    right: 184.5%;
    opacity: 0.2;
  }
  95% {
    right: 184.5%;
    opacity: 0.1;
  }
  100% {
    right: 184.5%;
    opacity: 0;
  }
}
@keyframes war-animate-card {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0.05;
  }
  10% {
    opacity: 0.1;
  }
  15% {
    opacity: 0.15;
  }
  20% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.25;
  }
  30% {
    opacity: 0.3;
  }
  35% {
    opacity: 0.35;
  }
  40% {
    opacity: 0.4;
  }
  45% {
    opacity: 0.45;
  }
  50% {
    opacity: 0.5;
  }
  55% {
    opacity: 0.55;
  }
  60% {
    opacity: 0.6;
  }
  65% {
    opacity: 0.65;
  }
  70% {
    opacity: 0.7;
  }
  75% {
    opacity: 0.75;
  }
  80% {
    opacity: 0.8;
  }
  85% {
    opacity: 0.85;
  }
  90% {
    opacity: 0.9;
  }
  95% {
    opacity: 0.95;
  }
  100% {
    opacity: 1;
  }
}
@keyframes war-animate-card-reverse {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 0.95;
  }
  10% {
    opacity: 0.9;
  }
  15% {
    opacity: 0.85;
  }
  20% {
    opacity: 0.8;
  }
  25% {
    opacity: 0.75;
  }
  30% {
    opacity: 0.7;
  }
  35% {
    opacity: 0.65;
  }
  40% {
    opacity: 0.6;
  }
  45% {
    opacity: 0.55;
  }
  50% {
    opacity: 0.5;
  }
  55% {
    opacity: 0.45;
  }
  60% {
    opacity: 0.4;
  }
  65% {
    opacity: 0.35;
  }
  70% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.25;
  }
  80% {
    opacity: 0.2;
  }
  85% {
    opacity: 0.15;
  }
  90% {
    opacity: 0.1;
  }
  95% {
    opacity: 0.05;
  }
  100% {
    opacity: 0;
  }
}